<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>

    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0a2c3d; min-height: 60px;">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand text-white fw-bold fs-5" href="#">  QuickBite Admin</a>
                </div>
                <span class="logout-spn">
                    <a href="@Url.Action("logout","admin")" style="color:#fff;"><i class="fa fa-sign-out"></i></a>
                </span>
            </div>
        </div>



        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="@Url.Action("Profile","Admin")"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="@Url.Action("fetchCustomer","Admin")"><i class="fa fa-users"></i> Customers</a></li>
                    <li><a href="@Url.Action("fetchCategory","Admin")"><i class="fa fa-list"></i> Categories</a></li>
                    <li><a href="products.html"><i class="fa fa-cutlery"></i> Products</a></li>
                    <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                    <li><a href="orders.html"><i class="fa fa-truck"></i> Orders</a></li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div>
                        @RenderBody()
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                &copy; 2025 QuickBite | Design by: QuickBite Team
            </div>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS - AT THE BOTTOM TO REDUCE LOAD TIME -->
    <!-- JQUERY SCRIPTS -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/js/custom.js"></script>

    
</body>

</html>
